

.contact {
  width: 50%;
}

nav {
  margin-bottom: 20px;
}

.deck1 {
  margin-top: 30px;
}

.jumbotron {
  margin: auto;
  margin-bottom: 10px;
}

.deck2 {
  margin-left: 150px;
  margin-bottom: 20px;
}

.deck3 {
  margin-left: 150px;
  margin-bottom: 20px;
}

/* .footer {
  /* position: fixed; */
  /* position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: white;
  text-align: center;
} */ 

/* #button { */
  /* margin-left: 150px; */
/* } */